/TFI_PROGRAMACION2_Comision7_Grupo86_Alterio_Ambrosio_Grille_Guardia/nbproject/private/
/nbproject/
/build/
/dist/
# Ignorar la carpeta antigua de NetBeans que contiene el archivo de configuración
/TFI_PROGRAMACION2_Comision7_Grupo86_Alterio_Ambrosio_Grille_Guardia/
